.mainContent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#f7f7ff;  
}
.mainContent header {
    width: 80%;
    height: 60px;
    background:  var(--secondary-color);
    margin: 5px auto;
    border-radius: 2px;
}
.mainContent header span {
    float: right;
    background-color: #f7f7ff;
    padding: .5rem;
    border-radius: 0.3rem;
    margin: 10px 15px 0 0;
    font-size: 10pt;
    font-size:medium;
}
.mainContent header span:hover {
    color: var(--secondary-color);
}
.mainBody {
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    border-right: 1px solid var(--primary-color); ;
}
.contactInfo div {
     display: flex;
     margin-right: 1.5rem;
     border: 1px solid rgba(26,28,30,.1);
     background-color: rgba(26,28,30,.1);
     color: #111111;
     border-radius: 10px;
     width: 20rem;
     height: 90px;
     padding: 10px;
     font-size: 10pt;
     display: flex;
     flex-direction: column;
     /* flex-wrap: wrap;
     align-items: center;    */
}
.containerFormContactUs {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.containerFormContactUsHeader h2 {
    color: var(--secondary-color);
    border-bottom: 1px solid rgba(26,28,30,.1);
    border-radius: 0.3rem;
    padding: 5px;
    text-indent: 5px;
}
.containerFormContactUsHeader {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
}

.iconContactInfo {
     color: var(--primary-color);
     font-size: 25pt;
}
.containerFormContactUsBody input,
.containerFormContactUsBody button, 
.containerFormContactUsBody textarea {
     width: 400px;
     height: 40px;
     border-radius: 0.375rem;
     border: 1px solid rgba(26,28,30,.2);
     font-size: 12pt;
     color: #111111;
     outline: none;
}
.containerFormContactUsBody textarea { 
    height: unset;
    resize: none;
    padding: 2px;
}
.containerFormContactUsBody textarea:focus {
    border: 1px solid var(--primary-color);
}
.containerFormContactUsBody input:focus {
     border: 2px solid var(--primary-color);
}
.containerFormContactUsBody div input,
.containerFormContactUsBody div textarea {
    text-indent: 10px;
}
.containerFormContactUsBody label,
.containerButton button {
    margin: 5px 0;
    font-size: 11pt;
}
.containerFormContactUsBody div {
     display: flex;
     flex-direction: column;
}
.containerFormContactUsBody button {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
}
.containerFormContactUsBody button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    opacity: .8;
}
.notificationContactUsFormField {
    margin-top: 5px;
    font-size: 10pt;
    color: #ff4500;
    margin: 1px 3px  0 0;
    padding: 5px;
}
/* @media screen and (max-width: 1180px) {
    .mainContent header {
        width: 97%;
    }
}
@media screen and (max-width: 1060px) {
    .containerFormContactUsBody input,
    .containerFormContactUsBody button, 
    .containerFormContactUsBody textarea,
    .containerFormContactUsHeader  {
        width: 20rem;
        height: 35px;
    }
    .containerFormContactUsBody textarea {
        height: unset;
    }
    .contactInfo div {
        width: 15rem;   
   }
}
@media screen and (max-width: 815px) {
    .contactInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
    }
    .containerFormContactUsBody textarea {
        height: 100px;
    }
}
@media screen and (max-width: 550px) {
    .mainContent {
        width: 100%;
    }
    .mainContent header {
        width: 100%;
        margin: 0;
        height: 70px;
    }
    .mainBody {
         width: 100%;
    }
    .contactInfo {
         width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
        row-gap: 10px;
    }

    .contactInfo a {
       background-color: red;
       width: 100%;
    }
    .contactInfo a div{
       background-color: blue;
       width: 80%;
    }
    .containerButton button {
        margin: 0;
        font-size: 10pt;
    }
    .container_message {
        margin: 0;
    }
    .containerFormContactUs {
         width: 80%;
    }
    .containerFormContactUsHeader {
        width: 100%;
    }
    .containerFormContactUsBody  {
        width: 90%;
    }
    .containerFormContactUsBody input,
    .containerFormContactUsBody textarea,
    .containerFormContactUsBody button {
        width: 100%;
    }
} */