.mainContent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#f7f7ff;  
}
.mainContent header { 
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background:  var(--secondary-color);
    margin: 5px auto;
    border-radius: 2px;
}
.mainContent header h1 {
    margin: -7px 0 0  0;
} 
.mainContent header span {
    background-color: #f7f7ff;
    padding: .5rem;
    border-radius: 0.3rem;
    margin: 30px 15px 0 0;
    font-size: 10pt;
    font-size:medium;
    height: fit-content;
} 
 .mainContent header span:hover {
    color: var(--secondary-color);
}
.mainBody {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: center;
    margin-top: 3rem;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    height: fit-content;
}
.contactInfo div {
     display: flex;
     margin-right: 1.5rem;
     border: 1px solid var(--primary-color); 
     background-color: rgba(26,28,30,.1);
     color: #111111;
     border-radius: 10px;
     width: 20rem;
     height: 90px;
     padding: 10px;
     font-size: 10pt;
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: .2rem;
}
.containerFormContactUs {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.containerFormContactUsHeader h2 {
    color: var(--secondary-color);
    border-bottom: 1px solid rgba(26,28,30,.1);
    border-radius: 0.3rem;
    padding: 5px;
    text-indent: 5px;
}
.containerFormContactUsHeader {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
}

.iconContactInfo {
     color: var(--primary-color);
     font-size: 25pt;
}
.containerFormContactUsBody input,
.containerFormContactUsBody button, 
.containerFormContactUsBody textarea {
     width: 400px;
     height: 40px;
     border-radius: 0.375rem;
     border: 1px solid rgba(26,28,30,.2);
     font-size: 12pt;
     color: #111111;
     outline: none;
}
.containerFormContactUsBody textarea { 
    height: unset;
    resize: none;
    padding: 2px;
}
.containerFormContactUsBody textarea:focus {
    border: 1px solid var(--primary-color);
}
.containerFormContactUsBody input:focus {
     border: 2px solid var(--primary-color);
}
.containerFormContactUsBody div input,
.containerFormContactUsBody div textarea {
    text-indent: 10px;
}
.containerFormContactUsBody label,
.containerButton button {
    margin: 5px 0;
    font-size: 11pt;
}
.containerFormContactUsBody div {
     display: flex;
     flex-direction: column;
}
.containerFormContactUsBody button {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
}
.containerFormContactUsBody button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    opacity: .8;
}
.notificationContactUsFormField {
    margin-top: 5px;
    font-size: 10pt;
    color: #ff4500;
    margin: 1px 3px  0 0;
    padding: 5px;
}
 @media screen and (max-width: 1010px) {
    .mainContent header {
        width: 90%;
    }
}
 @media screen and (max-width: 850px) {
    .mainContent header {
        width: 95%;
    }
}
 @media screen and (max-width: 800px) {
    .mainContent header {
        width: 98%;
    }
}
 @media screen and (max-width: 790px) {
    .mainBody { 
         flex-direction: column;
         margin-top: 1rem;
    }
    .mainContent header {
        width: 100%;
    }
    .containerFormContactUsBody div textarea {
        height: 100px;
    }
    .containerFormContactUsBody input,
    .containerFormContactUsBody button, 
    .containerFormContactUsBody textarea {
        font-size: 12pt;
        height: 30px;
    }

    .iconContactInfo {
        font-size: 18pt;
   }
    .containerFormContactUsBody label,
    .containerButton button {
    margin: 3px 0;
    font-size: 9pt;
  }
  .contactInfo div {
    height: 75px;
    width: 400px;
    font-size: 9pt;
  }
  .contactInfo  {
    margin-left: 1.5rem;
  }
  .containerFormContactUs {
     margin-top: 1rem;
  }
}

@media screen and (max-width: 430px) {
    .containerFormContactUsBody input,
    .containerFormContactUsBody button, 
    .containerFormContactUsBody textarea {
         width: 300px;
    }
    .contactInfo div {
        width: 18rem ;
    }
}