
.mainBody {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: center;
    margin-top: 3rem;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    height: fit-content;
    cursor: unset;
}
.contactInfo div {
     display: flex;
     margin-right: 1.5rem;
     border: 1px solid var(--primary-color); 
     background-color: rgba(26,28,30,.1);
     color: #111111;
     border-radius: 10px;
     width: 20rem;
     height: 90px;
     padding: 10px;
     font-size: 10pt;
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: .2rem;
}
.containerFormContactUs {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.emailsentMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}
.emailsentMessage p {
     text-align:  center;
     margin-top: 2rem;
}
.containerFormContactUsHeader {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
}
.containerFormContactUsHeader legend { 
    border-bottom: 1px solid rgba(26,28,30,.1);
    display: flex;

}
.containerFormContactUsHeader h2 {
    color: var(--secondary-color);
    padding: 5px;
    text-indent: 5px;
}

.iconContactInfo {
     color: var(--primary-color);
     font-size: 25pt;
}
.containerFormContactUsBody input,
.containerFormContactUsBody button, 
.containerFormContactUsBody textarea {
     width: 400px;
     height: 40px;
     border-radius: 0.375rem;
     border: 1px solid rgba(26,28,30,.2);
     font-size: 12pt;
     color: #111111;
     outline: none;
}
.containerFormContactUsBody textarea { 
    height: unset;
    resize: none;
    padding: 2px;
}
.containerFormContactUsBody textarea:focus {
    border: 1px solid var(--primary-color);
}
.containerFormContactUsBody input:focus {
     border: 2px solid var(--primary-color);
}
.containerFormContactUsBody div input,
.containerFormContactUsBody div textarea {
    text-indent: 10px;
}
.containerFormContactUsBody label,
.containerButton button {
    margin: 5px 0;
    font-size: 11pt;
}
.containerFormContactUsBody div {
     display: flex;
     flex-direction: column;
}
.containerFormContactUsBody button {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
}
.containerFormContactUsBody button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    opacity: .8;
}
.notificationContactUsFormField {
    font-size: 10pt;
    color: #ff4500;
    margin: 1px 3px  0 0;
    padding: 5px;
    height: 26px;
}
@media screen and (min-width: 791px) and (max-width: 1130px)  {
    .contactInfo {
         margin-left: 1rem;
    }

 }
 @media screen and (max-width: 790px) {
    .mainBody { 
         flex-direction: column;
         margin-top: 1rem;
    }
    .mainContent header {
        width: 100%;
    }
    .containerFormContactUsBody div textarea {
        height: 100px;
    }
    .containerFormContactUsBody input,
    .containerFormContactUsBody button, 
    .containerFormContactUsBody textarea {
        font-size: 12pt;
        height: 30px;
    }

    .iconContactInfo {
        font-size: 18pt;
   }
    .containerFormContactUsBody label,
    .containerButton button {
    margin: 3px 0;
    font-size: 9pt;
  }
  .contactInfo div {
    height: 75px;
    width: 400px;
    font-size: 9pt;
  }
  .contactInfo  {
    margin-left: 1.5rem;
  }
  .containerFormContactUs {
     margin-top: 1rem;
  }
}

@media screen and (max-width: 430px) {
    .containerFormContactUsBody input,
    .containerFormContactUsBody button, 
    .containerFormContactUsBody textarea {
         width: 300px;
    }
    .contactInfo div {
        width: 18rem ;
    }
    .containerFormContactUsHeader {
        width: 100%;
    }
    .containerFormContactUsHeader  h2{
       font-size: 14pt;   
    }
}