.main_Content{
    height: 95vh;
    width: 100%;
    display: flex;
    margin-top: 25px;

    background: linear-gradient(to right, var(--secondary-color), #ccc);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.containerEmail,
.containerPassword {
      display: flex;
      flex-direction: column;
}
.containerFormLoginpBody label {
     margin: 5px 0;
     font-size: 11pt;
}
.containerFormLoginHeader h2 {
     color: var(--secondary-color);
}
.containerEmail input,
.containerPassword input {
      text-indent: 10px;
}
.containerEmail input,
.containerPassword input,
.containerButton button {
     width: 400px;
     height: 40px;
     border-radius: 0.375rem;
     border: 1px solid rgba(26,28,30,.2);
     font-size: 12pt;
     color: #111111;
     outline: none;
}

.containerEmail input:focus,
.containerPassword input:focus {
     border: 2px solid var(--primary-color);
}
.containerFormLogin {
     display: flex;
     flex-direction: column;
     width: 60%;
     align-items: center;
     justify-content: center;
     user-select: none;
}
.containerFormLogin div {
     width: 25rem;
     
}
.firstContent{
     width: 40%;
     border-right: 1px solid #000; 
}
.containerButton button {
     background-color: var(--secondary-color);
     font-weight: bold;
     color: #ffffff;
     margin-top: 5px;
}

.containerButton button:hover {
     background-color: var(--secondary-color);
     cursor: pointer;
     opacity: .8;
}

.notificationLoginFormFieldTop {
   display: flex;
}
.notificationLoginFormFieldTop span:nth-child(1),
.notificationLoginFormField  {
    color: #ff4500;
    margin: 1px 3px  0 0;

}
/* .notificationLoginFormFieldTop span + span {
} */
.notificationLoginFormField,
.notificationLoginFormFieldTop {
      margin-top: 5px;
      font-size: 10pt;
      color: #ff4500;
}

.opctionsBottomOfForm  {
      margin-top: 20px;
      font-size: 10pt;
      font-weight: 400;
}
.opctionsBottomOfForm  p:hover,
.opctionsBottomOfForm li:hover{
      cursor: pointer;
      text-decoration: underline;
}
.opctionsBottomOfForm li {
     margin-top: 5px;
}
.opctionsBottomOfForm ul {
      list-style: none;
      margin-left: 10px;
}
 .hideListElement{
   visibility: hidden;
}
  .showListElement{
    visibility: visible;   
}