.main_Content {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerFormLogin {  
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    user-select: none;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.containerEmail {
     margin-top: 5px;
     display: flex;
     flex-direction: column;
}
.containerFormLoginpBody label {
    margin: 5px 0;
    font-size: 11pt;
}
.containerFormLoginHeader h2 {
    color: var(--secondary-color);
    margin-bottom: 5px;
}
.containerEmail input {
     text-indent: 10px;
}
.containerFormLoginpBody span {
     font-size: 10pt;
     color: #111111;
}
.containerEmail input,
.containerButton button {
    width: 400px;
    height: 40px;
    border-radius: 0.375rem;
    border: 1px solid rgba(26,28,30,.2);
    font-size: 12pt;
    color: #111111;
    outline: none;
}
.containerEmail input:focus {
    border: 2px solid var(--primary-color);
}
.containerButton button {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.containerButton button:hover {
    color: rgba(255, 255, 255, .8);
    cursor: pointer;
}

.notificationContactUsFormField {
    margin-top: 5px;
    height: 26px;
}
.notificationContactUsFormField_{
    font-size: 10pt;
    color: #ff4500 !important;
}
@media screen and (max-width: 460px) {
    .containerEmail input,
    .containerButton button {
    width: 320px;
    height: 30px;
    font-size: 10pt;
}
.containerEmail label {
    font-size: 10pt;
}
.containerFormLoginpBody span {
    font-size: 8pt;
}
.containerFormLoginHeader h2 {
    font-size: 14pt;
}
.containerFormLoginHeader legend {
    width: 320px;
    display: grid;
    place-content: center;
}
}
@media screen and (max-width: 330px) { 
    .containerEmail input,
    .containerButton button {
    width: 305px;
}
}