.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.mainContent header { 
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background:  var(--secondary-color);
    margin: 5px auto;
    border-radius: 2px;
}
.mainContent header h1 {
    margin: -7px 0 0  0;
} 
.mainContent header span {
    background-color: #f7f7ff;
    padding: .5rem;
    border-radius: 0.3rem;
    margin: 30px 15px 0 0;
    font-size: 10pt;
    font-size:medium;
    height: fit-content;
} 
 .mainContent header span:hover {
    color: var(--secondary-color);
}